.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.season-display.Winter i {
    color: blue;
}

.season-display.Summer i {
    color: red;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Winter {
    background-color: aliceblue;
}

.Summer {
    background-color: orange;
}